<main class="container py-5 border">
    <h3>Generador de grupos de Basketball</h3>
    <hr class="my-3">

    <strong>Paso 1: Registrar asistencia</strong><br>
    <ng-container *ngIf="estado==1">
        <div class="form-check mb-2" >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckAll" (change)="onCheckValue($event)">
            <label class="form-check-label" for="flexCheckAll">
                Marcar todos
            </label>
        </div>
        <div class="container mb-3">
            <ng-container *ngFor="let item of integrantes; let i=index">
                <div class="form-check">
                    <span>{{ i+1 + " " }}</span>
                    <input class="form-check-input" type="checkbox" value="" id="check{{ item.idIntegrante }}"
                        [checked]="item.asistencia" (change)="onCheckAsistencia($event, item.idIntegrante)">
                    <label class="form-check-label" for="check{{ item.idIntegrante }}"> {{ item.nombre }}</label>
                </div>
                <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check2" [checked]="item.asistencia">
                    <label class="form-check-label" for="check2"> Persona 2</label>
                </div> -->
            </ng-container>
        </div>
    
        <!--button type="button" class="btn btn-primary" (click)="onGuardarAsistencia()">Guardar asistencia</button-->
        <!-- <button type="button" class="btn btn-light ms-2" (click)="onResetAsistencia()">Resetear asistencia</button> -->
    
        <hr class="my-3">
    </ng-container>

    <strong>Paso 2: Generar grupos de Basketball</strong><br>
    <ng-container *ngIf="estado==1">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-form-label">Grupos</label>
            <div class="col-2">
                <input type="number" class="form-control" id="inputEmail3" value="3" [(ngModel)]="totalGrupos"
                    name="totalGrupos">
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="onGenerarGrupos()">Generar</button>
        <button type="button" class="btn btn-primary ms-2" (click)="onConsolidadGrupos()">Consolidar</button>
    
        <ol class="list-group mt-3">
            <li class="list-group-item px-0" *ngFor="let itemGrupo of grupos; let i=index">
                <div class="ms-2">
                    <div class="fw-bold">{{itemGrupo.nombre + " (" + itemGrupo.totalPeso + ")"}} <div class="d-inline-flex p-2 {{itemGrupo.classColor}}">{{itemGrupo.nombreColor}}</div></div>
                    <ol class="">
                        <li class="" *ngFor="let itemIntegra of itemGrupo.integrantes">
                            {{"["+ itemIntegra.sexo +"]" + "("+itemIntegra.peso + ") " + itemIntegra.nombre}}
                        </li>
                    </ol>
                </div>
            </li>
        </ol>
    
        <hr class="my-3">
    </ng-container>

    

    

    <strong *ngIf="estado==2">Paso 3: Actualizar grupos de Basketball</strong><br>
    <ng-container *ngIf="estado==2">
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckAll" (change)="onCheckValue($event)">
            <label class="form-check-label" for="flexCheckAll">
                Marcar todos
            </label>
        </div>

        <div class="container mb-3">
            <ng-container *ngFor="let item of integrantesTardones; let i=index">
                <div class="form-check">
                    <span>{{ i+1 + " " }}</span>
                    <input class="form-check-input" type="checkbox" value="" id="check{{ item.idIntegrante }}"
                        [checked]="item.asistencia" (change)="onCheckAsistencia($event, item.idIntegrante)">
                    <label class="form-check-label" for="check{{ item.idIntegrante }}"> {{ item.nombre }}</label>
                </div>
                <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check2" [checked]="item.asistencia">
                    <label class="form-check-label" for="check2"> Persona 2</label>
                </div> -->
            </ng-container>
        </div>

        <button type="button" class="btn btn-primary" (click)="onActualizarGrupos()">Actualizar grupos</button>
        <ol class="list-group mt-3" >
            <li class="list-group-item px-0" *ngFor="let itemGrupo of gruposAjustado; let i=index">
                <div class="ms-2">
                    <div class="fw-bold">{{itemGrupo.nombre + " (" + itemGrupo.totalPeso + ")"}} <div class="d-inline-flex p-2 {{itemGrupo.classColor}}">{{itemGrupo.nombreColor}}</div></div>
                    <ol class="">
                        <li class="" *ngFor="let itemIntegra of itemGrupo.integrantes">
                            {{"["+ itemIntegra.sexo +"]" + "("+itemIntegra.peso + ") " + itemIntegra.nombre}}
                        </li>
                    </ol>
                </div>
            </li>
        </ol>    

        <br>
        <p>Jugadores sin equipo</p>
        <ng-container *ngFor="let item of sinquipo; let i=index">
            <div class="form-check">
                <span>{{ i+1 + " " }}</span>
                <label class="form-check-label" for="check{{ item.idIntegrante }}"> {{ item.nombre }}</label>
            </div>
        </ng-container>
    </ng-container>

    

</main>

<router-outlet></router-outlet>